@model IEnumerable<mentorient.Models.Accounting.Entry>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Accounting</h1>
<nav>
    <hr/>
    <a asp-controller="Accounting" asp-action="Create">New Entry</a>
    <hr/>
</nav>

@if (!Model.Any())
{
    <p>oops.. you havn't created any accounting entries yet</p>
}
else
{
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Tenant</th>
            <th>Date Due</th>
            <th>Date Paid</th>
            <th>Amount Due</th>
            <th>Amount Paid</th>
            <th>Amount Remaining</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var entry in Model)
        {
            <tr>
                <td>@entry.TenantName</td>
                <td>@entry.DateDue.ToShortDateString()</td>
                <td>@entry.DatePaid.ToShortDateString()</td>
                <td>@entry.AmountDue</td>
                <td>@entry.AmountPaid</td>
                <td>@entry.AmountRemaining</td>
            </tr>
                        
        }
        </tbody>
    </table>
}